{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
<h1 class="home">teste de template</h1>
<p>Css não funciona</p>
<ul>
    {% for client in clients %}
    <li><b>
        <a href="{% url 'person_update' client.id %}">{{ client.name }}</a> <!-- o cliente.id vem desse campo da view < client = get_object_or_404(Client, pk=id) > -->
        <a href="{% url 'person_delete' client.id %}">Delete</a> <!-- o cliente.id vem desse campo da view < client = get_object_or_404(Client, pk=id) > -->
        {{ client.age }}
        {{ client.sex }}
        {{ client.creation }}
    </b></li>
    {% endfor %}
</ul>
<br>
<a href="{% url 'person_new' %}">Novo cliente</a>
</body>
</html>
